.login{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
    .header{
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        padding-bottom: 0.8em;
        letter-spacing: 2.5px;
    }
    .MuiPaper-root{
        margin-bottom: 1em;
        border-radius: 6px;
        
    }
    form{
        width: 65%;
        display: flex;
        flex-direction: column;
        
        .MuiButtonBase-root{
            margin:1em 0;
            padding:8px 0;

        }
    }
}